<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h2>예약 수정</h2>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">예약 ID </span>
            <input type="text" id="bookingid" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">GUEST </span>
            <input type="text" id="acmguest" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
        </div>
        <br><br>
        <div class="btn-submit">
            <button id="btn_update" class="btn btn-primary" type="button">수정</button>
            <button id="btn_back" class="btn btn-secondary" type="button">취소</button>
        </div>
        <div id="resultdiv" class="container" style="background-color: rgb(250, 239, 137);"></div>
    </div>
</body>

</html>
<script>
    $("#btn_update").click(() => {
        console.log("수정버튼이 클릭되었습니다.")
        const bookingid = $("#bookingid").val()
        const acmguest = $("#acmguest").val()
        console.log(bookingid, acmguest)
        var text
        $.post("/chaincode/bookingupdate", { bookingid, acmguest }, (data) => {
            console.log(data.resultcode)
            if (data.resultcode == "success") {
                text = "수정이 완료되었습니다."
                $("#resultdiv").empty()
                $("#resultdiv").append("<p>숙소 ID " + bookingid + "의 "+text+ "</p>")
                $("#resultdiv").fadeIn(1000)
                $("#resultdiv").fadeOut(2000)
            } else {
                text = "수정 권한이 없습니다."
                $("#resultdiv").empty()
                $("#resultdiv").append("<p>숙소 ID " + bookingid + "의 "+text+ "</p>")
                $("#resultdiv").fadeIn(1000)
                $("#resultdiv").fadeOut(2000)
            }
        })
    })

    $("#btn_back").click(() => {
        $("#result").empty()
        location.href = '/';
    })
</script>
<style>
    .container {
        margin-top: 40px;

}

</style>