
.container {
    margin: 30px;
   
}

/* 공통 */

/* 각 기능 타이틀 */
.admintitle{
    text-align: center;
    width: 200px;
}

.admintitle p {
    background-color: rgb(95, 95, 205);
    color: rgb(239, 239, 239);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

/* index 화면 */
.idx {
    padding:10px 0 10px 0;
    width: 500px;
    border: 1px solid;
    display: flex; 
    flex-direction: column;  /* 세로 정렬 */
    justify-content: center;
    align-items: center;
}

.idxtitle{
    
    text-align: center;
    margin: 5px;
    width: 300px;
}

.idxtitle p {
    background-color: rgb(95, 95, 205);
    color: rgb(239, 239, 239);
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
}

.header{
    /* float: right; */
    /* background-color: orange; */
    display : flex;
    justify-content: center;
    align-items: center;
    /* margin : 10px */
   
}

.header p {
    margin-right: 10px;
    font-size: 15px;
    padding-top: 15px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
}

.main a{
    margin-top: 10px;
    /* padding-top: 10px; */
    width: 200px;
}

/* 숙소 등록 */
.acmregister{
    width: 500px;
}

.acmregister form .btngroup{
    float: right;
}